input{
    padding: 10px;
    border-radius: 2.5%;
    border: none;
    outline: none;
    margin-top: 30px;
    width: 20rem;
    
}

@media screen and (max-width:600px) {
    input{
        padding: 10px;
        border-radius: 2.5%;
        font-size: 10px;
        margin-bottom: 30px;
        width: 10rem;
        margin-left: 60px;
    }
    
}